* {
	box-sizing: border-box;
}

html {
	font-size: @base-font-size; // base font-size
}

atom-workspace {
	background-color: @app-background-color;
}

// Scrollbars
atom-workspace {
	::-webkit-scrollbar {
		width: .8em;
		min-width: 12px;
	}

	::-webkit-scrollbar-track {
		background: @scrollbar-background-color;
	}

	::-webkit-scrollbar-thumb {
		background: @scrollbar-color;
		background-clip: content-box;
		box-shadow: 0 0 .5em 0 @cod-gray;
	}

	::-webkit-scrollbar-corner {
		background: @scrollbar-background-color;
	}

	::-webkit-scrollbar-thumb {
		&:hover,
		&:active {
			background: @scrollbar-active-color;
		}
	}
}

// TODO: Move to a better place, not sure where it gets used
.caret {
  border-top: 5px solid #fff;
  margin-top: -1px;
}

// somthing is changing the background
.item-views {
	background: none !important;

	> div {
		background: @dock-background-color;
	}
}
