atom-dock {
  border-width: 0;

  .tab-bar {
    .tab.active {
      background: @tree-view-background-color;
      border-color: @tree-view-background-color;
    }
  }

  .item-views {
    > div {
      background: @tree-view-background-color;
    }
  }

  &.left,
  &.right {
    .tab,
    .tab.active {
      max-width: none;
    }
  }

  &.top,
  &.bottom {
    .tab-bar {
      border-width: 0;
    }
  }
}

.atom-dock-resize-handle {
  &.left,
  &.right {
    width: @pane-border-spacing;
  }

  &.top,
  &.bottom {
    height: @pane-border-spacing;
  }
}
