// Overrides packages
// TODO: improve linter panel
// TODO: make markdown preview editor match tab
// TODO: remove scrollbar from autosized treeview
// TODO: remove scrollbar when not needed (linter, todo-show)

// find-and-replace ---------------------------
.find-and-replace,
.project-find {
  padding: @component-padding;
  font-size: .85rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }

  .header-item {
    margin: 0;
    border: 0 solid transparent;
    border-right-width: 1rem;

    &:last-child {
      border-width: 0;
    }
  }

  .description {
    flex: 1 1 auto;
  }

  .header,
  .input-block {
    margin-bottom: 1rem;
  }

  .btn-group,
  .input-block-item {
    flex: 0 0 15rem;
  }

  .input-block-item {
    padding: 0;
    border-right: 1rem solid transparent;

    .btn-group {
      flex: 1 0 50%;
    }

    &.editor-container {
      flex: 1;
    }

    &:last-child {
      border-width: 0;
    }
  }

  .options-label {
    float: none;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: flex-end;
    flex-wrap: wrap;

    > span {
      white-space: nowrap;

      &:first-child {
        margin-right: .3em;
      }
    }

    .options {
      margin-right: 1rem;
    }
  }

  .btn-group + .btn-group {
    margin: 0;
  }

  .find-meta-container {
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: @component-padding / 2;

    .result-counter {
      margin: 0;
    }
  }

  .close-button {
    margin: 0;
    border-right: 1rem solid transparent;
    padding-bottom: .3em;
    color: @text-color-error;

    &:hover {
      color: @text-color-error-hover;
    }
  }
}

.find-and-replace {
  .btn-group,
  .input-block-item {
    flex-basis: 20rem;
  }
}

.project-find .paths-container,
.find-and-replace .replace-container {
  margin-bottom: 0;
}

// markdown-preview ---------------------------
.markdown-preview {
  font-size: @font-size;
}

.markdown-preview:not([data-use-github-style]) {
  background: @dock-background-color;
}

// vim-mode ---------------------------
// search input
.normal-mode-input atom-text-editor[mini] {
  border: 1px solid @input-background-color-focus;
  border-radius: 0;
  overflow: hidden;
}

// vim-mode-plus ---------------------------
.vim-mode-plus-search-container {
  padding: @component-padding;

  > div {
    padding: 0;
  }

  .options-container {
    order: 2;
  }

  .editor-container {
    order: 1;
  }
}

atom-text-editor[mini].vim-mode-plus-search {
  border: 1px solid @input-border-color;
}

// ex-mode ---------------------------
div[is=ex-command-mode-input] {
  padding: @component-padding;

  atom-text-editor[mini] {
    overflow: hidden;
    border: 1px solid @input-border-color;

    &::before {
      opacity: 1;
      font-size: 1.2em;
      padding-right: 0.5em;
    }
  }
}

.command-mode-input atom-text-editor[mini] {
  line-height: @component-line-height;
  padding-left: @component-padding / 2;
}

// minimap ---------------------------
atom-text-editor-minimap {
	background: @scrollbar-background-color;
}

// todo-show ---------------------------
// TODO: use theme spinner
.show-todo-preview {
  // TODO: use mixin with settings
	atom-text-editor[mini] {
		background: @oil;

		&.is-focused {
			background: @tuatara;
		}
	}

  .todo-table tr {
    &:nth-child(2n + 1) {
      background: @panel-heading-background-color;
    }

    &:hover {
      background: @tuatara;
    }
  }
}

// deprecation-cop ---------------------------
.deprecation-cop {
  // https://github.com/atom/deprecation-cop/issues/82
  background: @dock-background-color !important;

  .panel {
    background: transparent;
  }
}

// timecop ---------------------------
.timecop {
  .timecop-panel,
  .tool-panel {
    background: transparent;
  }
}

// linter ---------------------------
.sb-table.linter thead {
  background: transparent;
}

#linter-tooltip linter-message {
  &,
  &.error,
  &.warning,
  &.info {
    background: @cod-gray;
  }
}

// welcome ---------------------------
.welcome-card {
  background: @inset-panel-background-color;
  border-width: 0;
}

.welcome-summary {
  background: @panel-heading-background-color;
}

.welcome-detail {
  border-width: 0;
}

// key-binding-resolver ---------------------------
.key-binding-resolver {
  .panel-heading {
    display: flex;
    align-items: center;
    background: transparent;

    span:first-child {
      margin-right: 1rem;
    }
  }

  // IDEA: separate keystrokes
  .keystroke {
    color: @base-accent-color;
    // TODO: use editor font
    font-family: monospace;
    font-weight: bold;
    border: 2px solid @base-accent-color;
    border-radius: 3px;
    padding: .2rem .4rem;
    font-size: 1rem;
  }
}
