// Overrides packages

// find-and-replace ---------------------------
// TODO: make option buttons group match find button width
.find-and-replace,
.project-find {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .options-label {
    float: none;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    > span {
      white-space: nowrap;

      &:first-child {
        margin-right: .3em;
      }
    }

    .options {
      margin-right: 1.5em;
    }
  }

  .btn,
  .btn-group-options.btn-group .btn,
  .btn-group-options.btn-group .btn.option-selection,
  .btn-group-options.btn-group .btn.option-whole-word {
    font-size: @font-size*1.25;
    padding: 0;
  }

  .btn-group {
    &.btn-group-options {
      flex: 0 0 13.5em;

      & > .btn {
        flex: 1;
        min-height: 29px;
      }

      .btn.option-selection {
        padding-top: 0;
      }
    }

    &.btn-group-replace-all {
      width: @font-size * 10;
    }

    &.btn-group-find,
    &.btn-group-replace {
      width: @font-size * 7.5;
    }
  }

  .find-meta-container {
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
}


// markdown-preview ---------------------------
.markdown-preview {
  font-size: @font-size;
}

// vim-mode ---------------------------
// search input
.normal-mode-input atom-text-editor[mini] {
  border: 1px solid @input-background-color-focus;
  border-radius: 0;
  overflow: hidden;
}

// minimap ---------------------------
atom-text-editor-minimap {
	background: @scrollbar-background-color;
}

// todo-show ---------------------------
// TODO: use theme spinner
.show-todo-preview {
  background: @dock-background-color;

  // TODO: use mixin with settings
	atom-text-editor[mini] {
		background: @oil;

		&.is-focused {
			background: @tuatara;
		}
	}

  .todo-table tr {
    &:nth-child(2n + 1) {
      background: @panel-heading-background-color;
    }

    &:hover {
      background: @tuatara;
    }
  }
}

// deprecation-cop ---------------------------
.deprecation-cop {
  background: @dock-background-color !important;

  .panel {
    background: transparent;
  }
}

// timecop ---------------------------
.timecop {
  .timecop-panel,
  .tool-panel {
    background: transparent;
  }
}
