atom-pane-container {
  atom-pane {
    position: relative;
    background-color: @dock-background-color;
  }

  atom-pane-axis {
    &.horizontal > * {
      border-right: @pane-border-spacing solid @pane-item-border-color;

      &:last-child {
        border-right: none;
      }
    }
  }
}

// TODO: add top padding under tabs/above main editor
// makes gutter shadow not go to the top
// atom-pane {
//   atom-text-editor:not(.mini) {
//     .gutter-container,
//     .scroll-view {
//       margin-top: 6px;
//     }
//   }
// }
